<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultBundleId</key>
	<string>Pizza Math</string>
	<key>defaultCreatedBy</key>
	<string>Dorton</string>
	<key>defaultReadme</key>
	<string>An Easy way to find out how many pizzas to order.</string>
</dict>
</plist>
