<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>75F898DD-BC0B-4BFE-A9BB-6C5D399DC51D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F0FE697-B54C-438D-A777-0B196DD4CA25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF23A3BE-2707-4B50-BFB9-B5205F37CACA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75F898DD-BC0B-4BFE-A9BB-6C5D399DC51D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>random-highfive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query= "{query}"

ds = {
  highfive: [
    "https://media.giphy.com/media/1HPzxMBCTvjMs/giphy.gif",
    "https://media.giphy.com/media/OcZp0maz6ALok/giphy.gif",
    "https://media.giphy.com/media/23a74P9V6FCvK/giphy.gif",

],
  yay: [
	"https://media.giphy.com/media/hZj44bR9FVI3K/giphy.gif",
	"https://media.giphy.com/media/WUq1cg9K7uzHa/giphy.gif"
],
  huzzah: [
    "https://media.giphy.com/media/O1ibc4PRxKwrS/giphy.gif",
    "https://media.giphy.com/media/xT5LMEp0rYgYc9XKFy/giphy.gif"
  ]
}

if query.strip.length &gt; 0
  print ds[query.to_sym].sample
else
  print ds.values.flatten.sample
end</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75F898DD-BC0B-4BFE-A9BB-6C5D399DC51D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>![]({query})</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F0FE697-B54C-438D-A777-0B196DD4CA25</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>grading</string>
				<key>subtext</key>
				<string>category</string>
				<key>text</key>
				<string>Grading Jiffs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF23A3BE-2707-4B50-BFB9-B5205F37CACA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>6F0FE697-B54C-438D-A777-0B196DD4CA25</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>75F898DD-BC0B-4BFE-A9BB-6C5D399DC51D</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>EF23A3BE-2707-4B50-BFB9-B5205F37CACA</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
