<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>qMp!9.4GBQZsH@nRF4Xs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>000B72EA-B956-4AA8-9F4F-D9011ECAEF06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80027489-F6B6-44D3-B6FC-749760903676</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0C74435A-59CF-4514-BC4F-D705973925FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B7D3DF4-36B5-4632-AFF5-4E07012FD6D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>167E59E2-E810-4AA9-B2D0-687CC014DAB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0165077-70BD-440E-B468-8041C0520489</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3B7D3DF4-36B5-4632-AFF5-4E07012FD6D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>941E899A-408C-4620-B167-399A7266F3D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6AF6959F-4372-4D8C-BBF2-95F23773F305</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4D9A379-A784-4526-BF69-B555E9C805DE</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Get long link</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0165077-70BD-440E-B468-8041C0520489</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80027489-F6B6-44D3-B6FC-749760903676</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Get link for direct download</string>
			</dict>
		</array>
		<key>80027489-F6B6-44D3-B6FC-749760903676</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46EB6BA-6C6D-4C19-9FF4-2F4D403D05E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>941E899A-408C-4620-B167-399A7266F3D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A0165077-70BD-440E-B468-8041C0520489</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46EB6BA-6C6D-4C19-9FF4-2F4D403D05E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>941E899A-408C-4620-B167-399A7266F3D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4D9A379-A784-4526-BF69-B555E9C805DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A46EB6BA-6C6D-4C19-9FF4-2F4D403D05E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>941E899A-408C-4620-B167-399A7266F3D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD619FCE-56D0-41A2-86DE-489885EF4A26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4D9A379-A784-4526-BF69-B555E9C805DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>minchik</string>
	<key>description</key>
	<string>Share any file</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredShare</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import share

print share.share('{query}', {'short_url': False})</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4D9A379-A784-4526-BF69-B555E9C805DE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A46EB6BA-6C6D-4C19-9FF4-2F4D403D05E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>167E59E2-E810-4AA9-B2D0-687CC014DAB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>as</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Share your dropbox file</string>
				<key>title</key>
				<string>as</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>6AF6959F-4372-4D8C-BBF2-95F23773F305</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import share

print share.share('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0165077-70BD-440E-B468-8041C0520489</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CD619FCE-56D0-41A2-86DE-489885EF4A26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import share

print share.share('{query}', {'short_url': False}, True)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80027489-F6B6-44D3-B6FC-749760903676</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>AlfredShare</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>941E899A-408C-4620-B167-399A7266F3D2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>000B72EA-B956-4AA8-9F4F-D9011ECAEF06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>import share

print share.setup('{query}')</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B7D3DF4-36B5-4632-AFF5-4E07012FD6D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>assetup</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Setup your folder here</string>
				<key>title</key>
				<string>assetup</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0C74435A-59CF-4514-BC4F-D705973925FF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow can share files from anywhere. If you are trying to share file inside of your dropbox folder, short link will be generated. If you will try to share file outside your dropbox folder it will be uploaded inside of Public folder and then you will receive the link. Be patient, if your file is large, it could take much time to upload and generate the link.</string>
	<key>uidata</key>
	<dict>
		<key>000B72EA-B956-4AA8-9F4F-D9011ECAEF06</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>0C74435A-59CF-4514-BC4F-D705973925FF</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>167E59E2-E810-4AA9-B2D0-687CC014DAB2</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>3B7D3DF4-36B5-4632-AFF5-4E07012FD6D9</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>6AF6959F-4372-4D8C-BBF2-95F23773F305</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>80027489-F6B6-44D3-B6FC-749760903676</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>941E899A-408C-4620-B167-399A7266F3D2</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A0165077-70BD-440E-B468-8041C0520489</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>A46EB6BA-6C6D-4C19-9FF4-2F4D403D05E7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B4D9A379-A784-4526-BF69-B555E9C805DE</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>CD619FCE-56D0-41A2-86DE-489885EF4A26</key>
		<dict>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://twitter.com/minchik</string>
</dict>
</plist>
