<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>192860BB-E9C1-4C7A-9228-48AC7B02541F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F26527E7-ACC4-4C4F-A4B7-D9424D902918</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3D84A6AA-58C6-4CD7-9623-E804463EC654</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6C84364-E473-443F-BDBA-5A13B1D5ADFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>565D5896-04C6-41EB-A608-5E1F0CB22AD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0F278D3-CC51-4905-8E38-16970317B6C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F74E467-E964-49DD-84C5-352A976812B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FE30951-8317-40E4-9C60-CB787A8D0726</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8129C999-E2AB-47D2-8BCE-4799ECCCE0E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68B66520-7B4F-461E-AED3-355839CC7164</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9E9321C2-3041-456C-94F7-3483C44FBDBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6251D6AA-BFB2-46E5-9700-E7E098CC859D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F09B726D-59F7-43A6-9F35-3CE08D30BCB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06953228-41A1-4CB4-8610-61D5EE8EFFBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Russell Osborne</string>
	<key>description</key>
	<string>The Iron Yard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TIY</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>old-lead</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIY Lead</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F74E467-E964-49DD-84C5-352A976812B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://academy.theironyard.com/admin/leads?utf8=%E2%9C%93&amp;search={query}&amp;email=show&amp;filter=all&amp;phone=show</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8FE30951-8317-40E4-9C60-CB787A8D0726</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cohort</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIY Academy Cohort</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9E9321C2-3041-456C-94F7-3483C44FBDBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://academy.theironyard.com/admin/cohorts?utf8=%E2%9C%93&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6251D6AA-BFB2-46E5-9700-E7E098CC859D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://online.theironyard.com/admin/paths?utf8=%E2%9C%93&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0F278D3-CC51-4905-8E38-16970317B6C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>path</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIY Online path</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>565D5896-04C6-41EB-A608-5E1F0CB22AD6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://online.theironyard.com/admin/groups?utf8=%E2%9C%93&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>68B66520-7B4F-461E-AED3-355839CC7164</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>group</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIY Online Group</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8129C999-E2AB-47D2-8BCE-4799ECCCE0E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>user</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIYOnline User</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>192860BB-E9C1-4C7A-9228-48AC7B02541F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://online.theironyard.com/admin/users?utf8=%E2%9C%93&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F26527E7-ACC4-4C4F-A4B7-D9424D902918</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>student</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIYAcademy Student</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F09B726D-59F7-43A6-9F35-3CE08D30BCB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://academy.theironyard.com/admin/students?utf8=%E2%9C%93&amp;search={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>06953228-41A1-4CB4-8610-61D5EE8EFFBA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lead</string>
				<key>subtext</key>
				<string>Search for Keyword</string>
				<key>text</key>
				<string>TIY Lead</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3D84A6AA-58C6-4CD7-9623-E804463EC654</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>https://na30.salesforce.com/search/SearchResults?searchType=1&amp;sen=0&amp;setLast=1&amp;sbstr={query}&amp;search=+Go%21+&amp;searchOwner=00536000002ITkV</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D6C84364-E473-443F-BDBA-5A13B1D5ADFC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06953228-41A1-4CB4-8610-61D5EE8EFFBA</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>192860BB-E9C1-4C7A-9228-48AC7B02541F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>3D84A6AA-58C6-4CD7-9623-E804463EC654</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>565D5896-04C6-41EB-A608-5E1F0CB22AD6</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6251D6AA-BFB2-46E5-9700-E7E098CC859D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>68B66520-7B4F-461E-AED3-355839CC7164</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7F74E467-E964-49DD-84C5-352A976812B4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8129C999-E2AB-47D2-8BCE-4799ECCCE0E8</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8FE30951-8317-40E4-9C60-CB787A8D0726</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9E9321C2-3041-456C-94F7-3483C44FBDBC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D0F278D3-CC51-4905-8E38-16970317B6C3</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D6C84364-E473-443F-BDBA-5A13B1D5ADFC</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>F09B726D-59F7-43A6-9F35-3CE08D30BCB2</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>F26527E7-ACC4-4C4F-A4B7-D9424D902918</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.theironyard.com/</string>
</dict>
</plist>
