<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Pizza Math</string>
	<key>connections</key>
	<dict>
		<key>25019493-C4A9-474E-917F-018CBA0E2E6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC829580-2E95-43EB-B38F-77AFB10DCB17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2D72B27A-0D2F-4756-9232-C46F86DB8562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89C2EC1F-355E-47F4-855A-12BD6A0D2F40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>45BB796C-D965-4DC0-BE1D-F425B1126320</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>438F43E0-2E7D-43ED-905C-3ABFD7C52538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>89C2EC1F-355E-47F4-855A-12BD6A0D2F40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>276A9817-908E-4F83-9556-B2569FA90589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>536C50F9-D032-4353-940B-2ECAF41E8329</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>276A9817-908E-4F83-9556-B2569FA90589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6FFED333-DB14-45FC-B4DE-F9D10239A74F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>153151D1-2E40-4E58-974F-E001EB657317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A37A404A-FA30-4BAE-8B43-D59B4E7BEF38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8FCD043F-7BBF-4A9F-ACB2-ED9054DD17BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A37A404A-FA30-4BAE-8B43-D59B4E7BEF38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BAC13FD3-056C-4B7A-BD3D-E7528991BAF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>438F43E0-2E7D-43ED-905C-3ABFD7C52538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F51991CF-42D3-4E40-AC98-DF80C90A78F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>153151D1-2E40-4E58-974F-E001EB657317</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dorton</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nutshell Reports</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>houston all</string>
				<key>text</key>
				<string>Houston All Applications</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6FFED333-DB14-45FC-B4DE-F9D10239A74F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>js nutshell</string>
				<key>text</key>
				<string>JS Nutshell Report</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F51991CF-42D3-4E40-AC98-DF80C90A78F6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://app01.nutshell.com/report-custom/85#tablePages%5Bid85%5D=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>153151D1-2E40-4E58-974F-E001EB657317</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rails nutshell</string>
				<key>text</key>
				<string>Rails Nutshell Report</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8FCD043F-7BBF-4A9F-ACB2-ED9054DD17BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://app01.nutshell.com/report-custom/89#tablePages%5Bid89%5D=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A37A404A-FA30-4BAE-8B43-D59B4E7BEF38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>leads nutshell</string>
				<key>text</key>
				<string>All Leads Nutshell</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25019493-C4A9-474E-917F-018CBA0E2E6A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://app.nutshell.com/lead#tablePages%5Bidlead-list%5D=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC829580-2E95-43EB-B38F-77AFB10DCB17</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>austin rails nutshell</string>
				<key>text</key>
				<string>austin rails nutshell</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BAC13FD3-056C-4B7A-BD3D-E7528991BAF6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://app01.nutshell.com/report-custom/149#tablePages%5Bid149%5D=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>438F43E0-2E7D-43ED-905C-3ABFD7C52538</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://app01.nutshell.com/report-custom/145#tablePages%5Bid145%5D=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>89C2EC1F-355E-47F4-855A-12BD6A0D2F40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>austin js nutshell</string>
				<key>text</key>
				<string>austin js nutshell</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2D72B27A-0D2F-4756-9232-C46F86DB8562</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://app01.nutshell.com/report-custom/153#tablePages%5Bid153%5D=1</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>276A9817-908E-4F83-9556-B2569FA90589</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>austin ui nutshell</string>
				<key>text</key>
				<string>austin UI nutshell</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>536C50F9-D032-4353-940B-2ECAF41E8329</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>austin all</string>
				<key>text</key>
				<string>Austin All</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45BB796C-D965-4DC0-BE1D-F425B1126320</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Easy way to find out how many pizzas to order.</string>
	<key>uidata</key>
	<dict>
		<key>153151D1-2E40-4E58-974F-E001EB657317</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>25019493-C4A9-474E-917F-018CBA0E2E6A</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>276A9817-908E-4F83-9556-B2569FA90589</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>2D72B27A-0D2F-4756-9232-C46F86DB8562</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>438F43E0-2E7D-43ED-905C-3ABFD7C52538</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>45BB796C-D965-4DC0-BE1D-F425B1126320</key>
		<dict>
			<key>ypos</key>
			<real>900</real>
		</dict>
		<key>536C50F9-D032-4353-940B-2ECAF41E8329</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>6FFED333-DB14-45FC-B4DE-F9D10239A74F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>89C2EC1F-355E-47F4-855A-12BD6A0D2F40</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>8FCD043F-7BBF-4A9F-ACB2-ED9054DD17BA</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>A37A404A-FA30-4BAE-8B43-D59B4E7BEF38</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>BAC13FD3-056C-4B7A-BD3D-E7528991BAF6</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>EC829580-2E95-43EB-B38F-77AFB10DCB17</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F51991CF-42D3-4E40-AC98-DF80C90A78F6</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
