<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jgpippin.googledrive</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C61F525-BA8C-4CD6-9771-9D8B538540DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A3E65CE-B19B-441A-AD30-E06EA098C798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10722D5B-6992-4505-943F-7648D6467CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A3E65CE-B19B-441A-AD30-E06EA098C798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27DB8F75-4DFF-489D-A4FF-D4C5CBFA788D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5B39A1B-14F5-4372-BECC-6B870A0034C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29FD3222-3265-4C0F-87F2-0DB7A46986B2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>235BAD3D-96F9-4F5D-A57F-1C978BD3B4D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BEFFCF0-F1E6-4107-A724-2830F50EE7C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29114C64-0CEC-419B-958C-F39EA7D8579B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CC5F6B1-470E-40AE-A259-8D5CD3213BE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A3E65CE-B19B-441A-AD30-E06EA098C798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E61B7AE-C17E-4A2A-909C-86C06B437317</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3DBD621-45EB-40B0-845E-09301AFAB134</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>719CCD53-BB5D-41C4-B853-E6C0F61BE291</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C42AF7E3-C61B-4BE9-83CB-C1FA54DA3628</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8136E6D9-C8CB-498A-BB1A-20FC2D88C06B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45D59899-96A8-4DF0-B14F-38BE06F88007</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1757649-E2F7-419D-B4BF-44438C4F91A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>537C072F-9DCF-4FF3-837B-4932075FA3D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB1561E3-4CD1-4681-9EFB-9B813588BCEB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF493BEE-956A-42D9-80CF-8EB911350E95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeremy Pippin</string>
	<key>description</key>
	<string>Find and create items in Google Drive</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Drive</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>g new document</string>
				<key>subtext</key>
				<string>Create a new Google Drive Document</string>
				<key>text</key>
				<string>New Document</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1757649-E2F7-419D-B4BF-44438C4F91A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://docs.google.com/a/theironyard.com/document</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>537C072F-9DCF-4FF3-837B-4932075FA3D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/spreadsheet</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D5B39A1B-14F5-4372-BECC-6B870A0034C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>g new spreadsheet</string>
				<key>subtext</key>
				<string>Create a new Google Drive Spreadsheet</string>
				<key>text</key>
				<string>New Spreadsheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>27DB8F75-4DFF-489D-A4FF-D4C5CBFA788D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>g new presentation</string>
				<key>subtext</key>
				<string>Create a new Google Drive Presentation</string>
				<key>text</key>
				<string>New Presentation</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BEFFCF0-F1E6-4107-A724-2830F50EE7C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/presentation/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>29114C64-0CEC-419B-958C-F39EA7D8579B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/drawings/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>235BAD3D-96F9-4F5D-A57F-1C978BD3B4D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>g new drawing</string>
				<key>subtext</key>
				<string>Create a new Google Drive Presentation</string>
				<key>text</key>
				<string>New Drawing</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>29FD3222-3265-4C0F-87F2-0DB7A46986B2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>g new form</string>
				<key>subtext</key>
				<string>Create a new Google Drive Form</string>
				<key>text</key>
				<string>New Form</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB1561E3-4CD1-4681-9EFB-9B813588BCEB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/forms/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BF493BEE-956A-42D9-80CF-8EB911350E95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>g doc</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Google Drive</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find document in Google Drive</string>
				<key>types</key>
				<array>
					<string>dyn.ah62d4rv4ge80s3dtqq</string>
					<string>dyn.ah62d4rv4ge80s3dwqf5u</string>
					<string>dyn.ah62d4rv4ge80s3xtsm0u</string>
					<string>dyn.ah62d4rv4ge80s65kqzw1k</string>
					<string>dyn.ah62d4rv4ge80s65qrfwgn62</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>6CC5F6B1-470E-40AE-A259-8D5CD3213BE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7A3E65CE-B19B-441A-AD30-E06EA098C798</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>g dir</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Google Drive</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find directory in Google Drive</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>10722D5B-6992-4505-943F-7648D6467CF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>g open</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Google Drive</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Open file in Google Drive</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0C61F525-BA8C-4CD6-9771-9D8B538540DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>g find</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Google Drive</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find file in Google Drive</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>719CCD53-BB5D-41C4-B853-E6C0F61BE291</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>C42AF7E3-C61B-4BE9-83CB-C1FA54DA3628</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>g search</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google Drive for '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E61B7AE-C17E-4A2A-909C-86C06B437317</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/#search/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D3DBD621-45EB-40B0-845E-09301AFAB134</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>45D59899-96A8-4DF0-B14F-38BE06F88007</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>g doc</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Google Drive</string>
				</array>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find document in Google Drive</string>
				<key>types</key>
				<array>
					<string>dyn.ah62d4rv4ge80s3dtqq</string>
					<string>dyn.ah62d4rv4ge80s3dwqf5u</string>
					<string>dyn.ah62d4rv4ge80s3xtsm0u</string>
					<string>dyn.ah62d4rv4ge80s65kqzw1k</string>
					<string>dyn.ah62d4rv4ge80s65qrfwgn62</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8136E6D9-C8CB-498A-BB1A-20FC2D88C06B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Full list of commands:

g search {query} - Search Google Drive in your browser for a file name or file contents

g doc {query} - Open Google Drive document, spreadsheet, drawing, presentation, or form files found in the ~/Google Drive directory.

g find {query} - Reveal a file in the ~/Google Drive directory in Finder

g open {query} - Open a file in the ~/Google Drive directory

g dir {query} - Open a folder in the ~/Google Drive directory

g new spreadsheet - Create a new spreadsheet in Google Drive

g new document - Create a new document in Google Drive

g new drawing - Create a new drawing in Google Drive

g new form - Create a new form in Google Drive

g new presentation - Create a new presentation in Google Drive

This workflow is only useful if you have the Google Drive app installed and syncing to your ~/Google Drive directory.  You can change this value in each file filter's search scope if you have moved your Google Drive target directory.</string>
	<key>uidata</key>
	<dict>
		<key>0C61F525-BA8C-4CD6-9771-9D8B538540DA</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>10722D5B-6992-4505-943F-7648D6467CF2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>235BAD3D-96F9-4F5D-A57F-1C978BD3B4D4</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>27DB8F75-4DFF-489D-A4FF-D4C5CBFA788D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>29114C64-0CEC-419B-958C-F39EA7D8579B</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>29FD3222-3265-4C0F-87F2-0DB7A46986B2</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3BEFFCF0-F1E6-4107-A724-2830F50EE7C5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>45D59899-96A8-4DF0-B14F-38BE06F88007</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>537C072F-9DCF-4FF3-837B-4932075FA3D5</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6CC5F6B1-470E-40AE-A259-8D5CD3213BE5</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6E61B7AE-C17E-4A2A-909C-86C06B437317</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>719CCD53-BB5D-41C4-B853-E6C0F61BE291</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>7A3E65CE-B19B-441A-AD30-E06EA098C798</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>8136E6D9-C8CB-498A-BB1A-20FC2D88C06B</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>A1757649-E2F7-419D-B4BF-44438C4F91A1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BF493BEE-956A-42D9-80CF-8EB911350E95</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C42AF7E3-C61B-4BE9-83CB-C1FA54DA3628</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>CB1561E3-4CD1-4681-9EFB-9B813588BCEB</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D3DBD621-45EB-40B0-845E-09301AFAB134</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>D5B39A1B-14F5-4372-BECC-6B870A0034C9</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jgpippin.com</string>
</dict>
</plist>
